.distributor-wrapper {
    background: #f5f4f2;
    min-height: 100vh;
    padding-top: 60px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  
  .distributor-back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #7b1f23;
    background: white;
    color: #7b1f23;
    font-weight: 600;
    cursor: pointer;
  }
  
  .title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .subtitle {
    font-size: 28px;
    margin-bottom: 28px;
    color: #555;
    align-items: center;
  }
  
  .distributor-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 60px;
    align-items: center;
  }
  
  .distributor-buttons button {
    width: 260px;
    padding: 14px 0;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .distributor-buttons button:hover {
    background: #7b1f23;
    color: white;
  }
  
 
  .distributor-box {
    margin-top: 40px;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
  }
  